:root {
    --main-blue: #62B5E3;
    --black: #111;
    --white: #FFF;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    background-color: #333;
    color: var(--white);
    scroll-behavior: smooth;
}

html.active {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    background: url(assets/night_sky_moon.png);
    background-size: 600%;
    background-position: 15%; 
    background-repeat: no-repeat;
    /* background-position: -100% -135%; */
    background-attachment: fixed;
}


h1, h2, h3, h4 {
    font-family: 'Quintessential', cursive;
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
}

p, a {
    font-family: 'Ramaraja', serif;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

.blue-word {
    color: var(--main-blue);
}



/***********************************/
/*              Nav                */
/***********************************/

@media only screen and (min-width: 0) {

    nav {
        width: 100%;
        
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        z-index: 99;
        background-color: rgba(1,1,1,0.88);
        width: 100%;
        height: 100vh;
        padding: 1em 0;
        margin-top: -10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.4s;
    }

    .nav-menu.active {
       right: 0; 
    }

    nav li {
        display: block;
        position: relative;
        list-style: none;
        /* right: 22px; */
        margin: 0 0;
    }

    nav a {
        text-decoration: none;
        color: var(--white);
        font-size: 1.75rem;
        font-weight: 100);
    }

    .hamburger {
        /* display: block; */
        
        background-color: rgba(255,255,255,0);
        position: fixed;
        right: 15px;
        top: 15px;
        width: 40px; 
        height: 40px;
        z-index: 100;
        overflow: show;
    }

    .bar {
        display: block;
        background-color: rgb(255, 255, 255, 0.7);
        width: 40px;
        height: 3px;
        margin: 7px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.5s ease-in-out;
        z-index: 100;
    }

    .hamburger.active .bar:nth-child(2) {
        transform: translateY(10px) rotate(320deg);
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(320deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-320deg);
    }

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1300px) {
    
}


/***********************************/
/*          Hero Landing           */
/***********************************/

@media only screen and (min-width: 0) {

    #hero {
        /* position: relative; */
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        /* background: url(assets/night_sky_moon.png);
        background-size: 600%;
        background-position: 15%; 
        background-repeat: no-repeat;
        /* background-position: -100% -135%;
        background-attachment: fixed; */
        z-index: 1;
        position: relative;
    }

    /* Twinkling background */

    /* @keyframes move-twink-back {
        from {background-position:0 0;}
        to {background-position:-1000px 5000px;}
    }
    @-webkit-keyframes move-twink-back {
        from {background-position:0 0;}
        to {background-position:-1000px 5000px;}
    }
    @-moz-keyframes move-twink-back {
        from {background-position:0 0;}
        to {background-position:-1000px 5000px;}
    }
    @-ms-keyframes move-twink-back {
        from {background-position:0 0;}
        to {background-position:-1000px 5000px;}
    } */
    
    @keyframes move-clouds-back {
        from {background-position:400px 0;}
        to {background-position:10000px 0;}
    }
    @-webkit-keyframes move-clouds-back {
        from {background-position:0 0;}
        to {background-position:10000px 0;}
    }
    @-moz-keyframes move-clouds-back {
        from {background-position:0 0;}
        to {background-position:10000px 0;}
    }
    @-ms-keyframes move-clouds-back {
        from {background-position: 0;}
        to {background-position:10000px 0;}
    }
    
    /* .stars, .twinkling, .clouds {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      width:100%;
      height:100%;
      display:block;
    } */
    
    /* .stars {
      background: #000 url(assets/stars.png) repeat top center;
      z-index:-5;
    } */
    
    /* .twinkling{
      background:transparent url(assets/twinkling.png) repeat top center;
      z-index: 1;
    
      -moz-animation:move-twink-back 200s linear infinite;
      -ms-animation:move-twink-back 200s linear infinite;
      -o-animation:move-twink-back 200s linear infinite;
      -webkit-animation:move-twink-back 200s linear infinite;
      animation:move-twink-back 200s linear infinite;
    } */
    
    .clouds{
        background:transparent url(assets/clouds2.png) repeat-x bottom;
        background-position: 85%;

        position: absolute;
        bottom: -124px;
        right: 0;
        width: 100%;
        max-width: 175%;
        height: 480px;
        /* max-height: 100px; */
                
        /* display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        /* NOT WORKING */
        /* inset: 0;
        top: 0; */
        z-index: -1;

        /* top: 40vh; */
    
      -moz-animation:move-clouds-back 300s linear infinite;
      -ms-animation:move-clouds-back 300s linear infinite;
      -o-animation:move-clouds-back 300s linear infinite;
      -webkit-animation:move-clouds-back 300s linear infinite;
      animation:move-clouds-back 300s linear infinite;
    }


    /* End Background */

    #hero-logo {
        display: block;
        position: relative;
        left: 10px;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
        padding-top: 20px;
    }

    #hero h1 {
        font-weight: 100;
        font-size: 1.5rem;
        line-height: 1.4;
        /* margin-bottom: 40px; */
        margin-bottom: 10%;
    }

    .title-separators {
        display: block;
        font-size: 0.01rem;
    }

    .sub-title {
        font-size: 1rem;
    }

    .button-link {
        display: block;
        /* width: 30%; */
        width: 100px;
        align-items: center;
        margin: 1.5% auto;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.25em;
        background-color: grey;
        line-height: 2.25rem;
        border-radius: 50px;
        font-size: 1.25rem;
        font-weight: 600;
        z-index: 5;
    }

    .button-link-full {
        background-color: var(--white);
        color: var(--black);
        box-shadow: 0 0 10px var(--white);
    }

    .button-link-hollow {
        background-color: rgba(233, 233, 233, 0);
        box-shadow: inset 0 0 10px 2px var(--main-blue), 0 0 5px var(--main-blue);
        /* outline:3px solid var(--main-blue); */
        color: var(--main-blue);
        font-weight: 400;
        margin-bottom: 75px;
    }

    #hero-forest {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 175%;
        height: auto;
        height: 80px;
        max-height: 100px;
        z-index: 5;
    }


}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1300px) {
    
}


/***********************************/
/*              About              */
/***********************************/

@media only screen and (min-width: 0) {

    #about {
        display: relative;
        text-align: center;  
        padding: 2em 2em;
        background: var(--black);   
        z-index: 3;   
    }

    #about p {
        font-size: 1.2rem;
        text-align: center;
        margin: 2em 1em;
    }

    #devices-image {
        display: block;
        width: 90%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1300px) {
    
}


/***********************************/
/*             Services            */
/***********************************/

@media only screen and (min-width: 0) {

    #services {
        width: 100%;
        /* background: url(assets/night_sky_moon.png);
        background-size: 600%;
        background-position: 15%;
        background-repeat: no-repeat;
        /* background-position: -100% -135%;
        background-attachment: fixed; */
        text-align: center;
        width: 100%;
        overflow: hidden;
    }

    .wave-top {
        position: relative;
        left: -200px;
        width: 250%;
        height: 80px;
        transform: scaleY(-1);
    }

    #service-header {
        position: relative;
    }

    #service-header::before {
        content: '';
        position: absolute;
        top: -3px;
        left: 50%;
        margin-left: -137px;
        background: url(assets/scrollwork_silver_left.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 65px;
        height: 35px;
        z-index: 10;
    }

    #service-header::after {
        content: '';
        position: absolute;
        top: -3px;
        right: 50%;
        margin-right: -140px;
        background: url(assets/scrollwork_silver_left.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 65px;
        height: 35px;
        z-index: 10;
        transform: scaleX(-1);
    }

    #services h3 {
        font-size: 1.35rem;
        font-weight: 200;
    }

    #services p {
        padding: 0 1em;
        font-size: 1.2rem;
        font-weight: 200;
        margin-bottom: 50px;
    }

    .services-card {
        width: 85%;
        position: relative;
        margin: auto;
    }

    .services-card img {
        position: relative;;
        width: 200px;
        height: auto;
    }

    #mobile-design-image {
        position: relative;
        left: 10px;
    }

    #graphic-design-image {
        width: 250px;
    }

    .wave-bottom {
        position: relative;
        left: -200px;
        bottom: -10px;
        width: 250%;
        height: 80px;
        /* transform: scaleY(-1); */
    }

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1300px) {
    
}


/***********************************/
/*            Difference           */
/***********************************/

@media only screen and (min-width: 0) {

    #difference {
        width: 100%;
        background-color: var(--black);
        padding: 80px 0;
        text-align: center;
    }

    #difference p {
        padding: 0 1em;
    }

    #difference img {
        display: block;
        position: relative;
        left: 8px;
        width: 300px;
        margin: 50px auto;
        margin-top: 40px;
    }

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1300px) {
    
}


/***********************************/
/*             Pricing             */
/***********************************/

@media only screen and (min-width: 0) {

    #pricing {
        width: 100%;
        background-color: #111;
        background: linear-gradient(#111, #62B5E3 90%);
        padding-top: 100px;
        /* padding-bottom: 50px; */
    }

    #pricing .pricing-image {
        display: block;
        margin: auto;
        max-width: 200px;
        position: absolute;
        left: 53px;
        top: -87px;
    }

    #pricing #basic-crown, #pricing #premium-crown {
        max-width: 100px;
        height: auto;
        top: -57px;
        left: 98px;

        /* left: 0;
        right: 50%;
        margin-right: -151px;
        top: -29px;
        transform: rotateZ(25deg); */
    }

    .price-card {
        position: relative;
        background: rgba(1,1,1,0.5);
        max-width: 300px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 80px;
        padding-top: 75px;
        border-radius: 71px;
        padding-bottom: 1.5em;
    }

    #best-value-price-card {
        border: 2px solid var(--white);
        box-shadow: 0 0 15px var(--white);
    }

    #premium-price-card, #basic-price-card {
        padding-top: 25px;
    }

    #basic-price-card {
        margin-bottom: 50px;
    }

    .price-card p {
        text-align: center;
        padding: 0 1.5em;
    }

    .price-card ul {
        margin-bottom: 80px;
    }

    .price {
        font-size: 5rem;
        position: relative;
        text-shadow: 0 0 15px var(--main-blue);
    }

    .price::before {
        content: 'Starting At';
        position: absolute;
        color: var(--white);
        font-size: 1rem;
        top: 14px;
        left: 50%;
        margin-left: -111px;
        width: 100px;
    }

    .after-price {
        font-size: 1rem;
    }

    /* #best-value-price::after {
        content: 'Per Month';
        color: var(--white);
        font-size: 1rem;
        position: absolute;
        bottom: 47;
        right: 50%;
        margin-right: -111px;
    } */

    .price-button {
        padding-right: 8px;
    }

    /* TODO: get rid of the tiny little line at the top of the wave */
    #price-bottom-wave {
        background: var(--black);
        /* background: transparent; */
        margin-bottom: -7px;
        mask-image: url(assets/wave1-blue.png);
    }

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1300px) {
    
}


/***********************************/
/*             Contact             */
/***********************************/

@media only screen and (min-width: 0) {

    #contact {
        /* background-color: var(--black); */
        padding: 1em;
        text-align: center;

        /* background: url(assets/night_sky_moon.png);
        background-size: 600%;
        background-position: 15%;
        background-repeat: no-repeat;
        /* background-position: -100% -135%; 
        background-attachment: fixed; */
    }

    #contact p {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 1.5rem;
        margin-bottom: 50px;
    }

    #contact form {
        display: block;
        position: relative;
        background: rgba(1,1,1,0.7);
        margin: 0 auto;
        padding: 2rem 1rem;
        border-radius: 25px;
        box-shadow: 0 0 15px rgba(255,255,255,0.5);
    }

    #name-label, #email-label, #text-field-label {
        position: absolute;
        left: 50%;
        margin-left: -105px;
        font-size: 1.1rem;
    }

    .form-control {
        margin-bottom: 20px;
        line-height: 2rem;
        border-radius: 25px;
        padding: 0 1rem;
        font-size: 1.1rem;
        background-color: rgba(255,255,255,0.5);
        box-shadow: inset 3.5px 3.5px 3.5px rgba(1,1,1,0.3); 
        border: 1px solid #111;
       }

    #text-field {
        /* Not 100% sure the text starts at the beginning of the text field */
        max-width: 220px;
        min-width: 220px;
        border-radius: 25px;
        min-height: 125px;
        margin-bottom: 25px;
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        line-height: 1.5rem;
        background-color: rgba(255,255,255,0.5);
        box-shadow: inset 3.5px 3.5px 3.5px rgba(1,1,1,0.3);
        border: 1px solid #111;
    }

    #contact-submit {
        width: 150px;
        padding-top: 0;
    }

    #contact .wave-bottom {
        margin-bottom: -22px;
    }

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1300px) {
    
}


/***********************************/
/*              Footer             */
/***********************************/

@media only screen and (min-width: 0) {

    footer {
        width: 100%;
        background-color: var(--black);
        text-align: center;
    }

    footer hr {
        width: 75%;
    }

    #footer-logo {
        display: block;
        width: 70%;
        margin: 2rem auto;
    }
    footer a {
        color: var(--main-blue);
    }

    footer ul {
        column-count: 2;
        margin: 0 auto;
        padding: 0 2rem;
        line-height: 2rem;
        margin-bottom: 20px;
    }

    footer ul li {
        list-style-type: none;
    }

    #copywright {
        font-size: 0.8rem;
    }

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1300px) {
    
}